{% extends "base.html" %}

{% block content%}


<div class="container-xxl py-5 bg-primary hero-header mb-5">
    <div class="container my-5 py-5 px-lg-5">
        <div class="row g-5 py-5">
            <div class="col-12 text-center">
                <h1 class="text-white animated zoomIn">Upload File</h1>
                <hr class="bg-white mx-auto mt-0" style="width: 90px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Upload</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="conainer text-center">
    <h3>Masukan File Excel atau csv</h3>
    <form action="" method="post">

        <div class="container mt-5 col-lg-4 justify-content-center mb-4">
            <input type="file" class="form-control"  name="upload" required>
        </div>
        <button class="btn btn-primary">Upload</button>
    </form>
</div>

<hr>
{% endblock %}